 {{> header}}
<br>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-9">

        <div class="container-fluid">
        <h1>Your basket</h1>
        <table class="table">
        	<tr>
    			<th>Title</th>
    			<th>Qty</th>
    			<th>Total</th>
    			<th></th>
  				</tr>
		{{#basket}}
          <div class="col-lg-4 col-md-6 mb-4">
            <tr>
            	<td>{{name}}</td>
            	<td>{{quantity}}</td>
            	<td>{{linePrice}}</td>
            	<form method="post" action="/remove-line">
            	<input type="hidden" name="id" value={{id}}>
            	<td ><button type="submit" class="btn btn-danger" >Remove</button></td>
            	</form>
            </tr>
          </div>
         {{/basket}}
         </table>
        </div>
        <br>
        
 
        <div class="container-fluid">
        <h1>Delivery address</h1>
        <form method="post" action="/order">
        <div class="form-group">
        	<label for="line1" class="col-sm-2 control-label" >Address line 1</label>
        	<div class="col-sm-5">
        		<input type="text" name="line1" placeholder="Address line 1">
        	</div>
        </div>
        <div class="form-group">
        	<label for="line2" class="col-sm-2 control-label" >Address line 2</label>
        	<div class="col-sm-5">
         		<input type="text" name="line2" placeholder="Address line 2">
         	</div>
         </div>
         <div class="form-group">
         	<label for="postcode" class="col-sm-2 control-label" >Postcode</label>
         	<div class="col-sm-5">
          		<input type="text" name="postcode" placeholder="Postcode">
          	</div>	
          </div>
          <div class="form-group">
          	<div class="col-sm-offset-2 col-sm-5">
          		<button type="submit" class="btn btn-primary" >Complete order</button>
          	</div>	
          </div>
        </form>
        </div>

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

 {{> footer}}
